<div class="podcast-subnav">
  <div class="container">
    <a href="/podcast/" class="podcast-nav-link{% if podcastSubpage == 'main' %} active{% endif %}">Bendy Bodies Podcast</a>
    <a href="/podcast-episodes/" class="podcast-nav-link{% if podcastSubpage == 'episodes' %} active{% endif %}">Episodes</a>
    <a href="/podcast-guests/" class="podcast-nav-link{% if podcastSubpage == 'guests' %} active{% endif %}">Guests</a>
    <a href="/podcast-appearances/" class="podcast-nav-link{% if podcastSubpage == 'appearances' %} active{% endif %}">Appearances</a>
  </div>
</div>
