---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
{%- for path in site.disallowPaths %}
Disallow: {{ path }}
{%- endfor %}

Sitemap: {{ site.url }}/sitemap.xml
